/* addded background photo */
body {
  background: url(https://cdn.nohat.cc/thumb/f/720/724e22560fa94b098e4d.jpg)
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  font-family: "Prata", serif;
  margin: auto;
}

/* A column for my about me content  */
.portfolio-img:hover {
  border: 2px solid blue;
}
.text-box {
  background-color: rgb(252, 251, 249);
  width: 50%;
  float: left;
  top: 200px;
  left: 40px;
  border: 1px solid aliceblue;
  margin-left: 15%;
  padding: 15px;
  margin-top: 100px;
  overflow: auto;
  margin-bottom: 100px;
}

.gif-zoom {
  background-color: rgb(252, 251, 249);
  float: left;
  top: 200px;
  left: 40px;
  border: 1px solid aliceblue;
  margin-left: 15%;
  padding: 15px;
  margin-top: 100px;
  overflow: auto;
  margin-bottom: 100px;
}

/* Applied bottom boarders for headers */
h1,
h4 {
  border-bottom: 1px solid #cccccc;
  height: 80px;
  color: rgb(159, 206, 189);
  margin-top: 20px;
}

/* styled about photo  */
#ben-pic {
  max-width: 30%;
  border: none;
  float: left;
  margin-right: 15px;
}

/* styled footer  */
#footer {
  clear: both;
  padding: 20px;
  background-color: rgb(248, 235, 213);
  border-top: 5px solid floralwhite;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin-top: 50px;
  position: fixed;
}

/* portfolio image styles  */
.portfolio-img {
  padding: 1px;
  border-color: rgb(252, 251, 249);
  margin-bottom: 10px;
}
/* 
.portfolio-img:hover {
  height: 900px;
  width: 900px;
} */
/* added icon to footer bar  */
#leaf {
  color: rgb(248, 225, 178);
}

/* gave nav links margins for spacing  */
.nav-link {
  margin: 0px 10px;
}

/* styled p w/ media querie */
@media (min-width: 600px) {
  p {
    font-size: 1.25 rem;
  }
}

@media (min-width: 800px) {
  p {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
}
